//LARs_spawnComp_debug = 1; //1 = RPT output, 2 = RPT output and ingame visual positioning info

class CfgCompositions {
    class WhiskeyNorth { //Name that the composition is spawned by
        #include "whiskey_north.sqe" //Renamed composition.sqe
    };
    class WhiskeySouth {
        #include "whiskey_south.sqe"
    };
};
